* { 
	margin: 0;
	padding: 0;
    
} 
body {
    background-color: #f0e6e6;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #131520;
    font-size: 16px;
    line-height: 1.5;
    background-image:url('./background2.png');
} 
header{
    text-align: right;
    margin: 3%;
}
nav a{
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
}
.comienzo{
    display:table-cell;
    width: 100%;
    list-style: bold;
}
.nombre{
    margin: 60%;
    font-size: 40px;
    text-align: center;
    width:auto ;
    padding-left: 30%;
}
.pPerfil{
    margin: 10%;
    display: table-cell;
    text-align: right;
    padding-right: 120px;
    
}
.imgPerfil{
    width: 10%;
}
.descrip{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 5%;
}
.pUnderline{
    text-align: center;
    margin-top: 0px;
}
.underline{
    width: 25%;
}
.sdeveloper{
    width: 80%;
    margin: 2%;
}
.fondoDeveloper{
    text-align: center;
    background-color:#696ba3;
    
}
footer {
    margin-top: 50px;
    text-align: center;
    width: 100%;
    bottom: 5px;
    background-color: #242f44;
    z-index: 5;
    color: #f0e6e6;

}
.aboutMe{
    background-color:darkslateblue;
    padding-bottom: 10pt;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: #f0e6e6;
    text-align: left;
    padding: 30px;
}
.aboutMe p{
    border-radius: 3px;
    padding: 15px;
    margin: 3%;
    border-style: solid;
    border-color: beige;
    background-color:rgb(170, 208, 243) ;
    font-weight: bold;

}
.spaceInvaders{
    width: 6%;
    vertical-align: middle;
    margin-right: 20px;
}
.foundMe{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: cornflowerblue;
    height: 20%;
}
a{
    text-decoration: none;
    vertical-align: middle;
}
.td1{
    width: auto;
}
.td2{
    width:60%;
    
}
.linkedin{
    width: 14%;
}
.github{
    text-align: left;
    width: 12%;
}
.posicionGitHub{
    text-align: left;
    margin-left: 0px;
}